<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550498776624-3g35pnltq9vt48tkilrlu043oeh0o7mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550498776624-3g35pnltq9vt48tkilrlu043oeh0o7mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBez6w7Z-yfJyams7Um-6fxt19jhRf_jIY</string>
	<key>GCM_SENDER_ID</key>
	<string>550498776624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>iti-flutter-project2023</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-flutter-project2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550498776624:ios:e24c4a1d664bb77567dff5</string>
</dict>
</plist>